[submodule "nodes/dora-openarm-mujoco"]
	path = nodes/dora-openarm-mujoco
	url = git@github.com:enactic/dora-openarm-mujoco.git
[submodule "nodes/dora-openarm-quitter"]
	path = nodes/dora-openarm-quitter
	url = git@github.com:enactic/dora-openarm-quitter.git
[submodule "nodes/dora-openarm-observer"]
	path = nodes/dora-openarm-observer
	url = git@github.com:enactic/dora-openarm-observer.git
